.a {
  background: linear-gradient(135deg, var(--gradient-a-1), var(--gradient-a-2));
}

.b {
  background: linear-gradient(135deg, var(--gradient-b-1), var(--gradient-b-2));
}

.c {
  background: linear-gradient(135deg, var(--gradient-c-1), var(--gradient-c-2));
}

.a-wall {
  background: linear-gradient(135deg, var(--gradient-wall-1), var(--gradient-wall-2));
}

.b-wall {
  background: linear-gradient(135deg, var(--gradient-wall-2), var(--gradient-wall-1));
}

.c-wall {
  background: var(--gradient-wall-3)
}