:root {
  --gradient-a-1: #ffe100;
  --gradient-a-2: #ff7300;

  --gradient-b-1: #82cfff;
  --gradient-b-2: #830599;

  --gradient-c-1: #07ff2c;
  --gradient-c-2: #080eaf;

  --gradient-wall-1: #ffffff;
  --gradient-wall-2: #000000;
  --gradient-wall-3: #780000;

  --gradient-slider-1: #00b6cb;
  --gradient-slider-2: #003686;

  --gradient-slider-knob-1: #afbf00;
  --gradient-slider-knob-2: #00a6a0;

  /* settings-panel */
  --gradient-debug-frame-1: rgb(51, 51, 51);
  --gradient-debug-frame-2: rgb(209, 209, 209);

  --debug-slider: linear-gradient(135deg, var(--debug-button-off), var(--debug-button-on));
  --color-off: linear-gradient(135deg, #e25555, #b92b2b);

  --label-gray: rgb(204, 204, 204);

  --svg-bright: rgb(45, 45, 45);
  --svg-dark: rgb(159, 159, 159);

  --debug-button-off: rgb(101, 101, 101);
  --debug-button-on: rgb(209, 209, 209);
  /* rgb(45, 45, 45) */
  /* rgb(159, 159, 159) */






  /* Touch areas */
  /* --touch-idle: rgba(0, 0, 0, 0.442);
  --touch-pressed: #2ecc71;
  --touch-release: #e74c3c;
  --touch-swipe-left: #9b59b6;
  --touch-swipe-right: #e67e22;
  --touch-swipe-up: #9cb659;
  --touch-swipe-down: #e622ae; */

  /* Motion - slightly faster for snappier feel on Android */
  --touch-transition-fast: 120ms;
  --touch-transition-normal: 200ms;


  --_color-bg-1: rgb(142, 95, 32);
  --_color-bg-2: rgb(178, 147, 52);
  --_color-panel-1: rgb(125, 71, 44);
  --_color-panel-2: rgb(192, 161, 109);
  --_color-sub-panel-1: rgb(101, 87, 59);
  --_color-sub-panel-2: rgb(101, 97, 29);
  --_color-button-1: rgb(173, 173, 173);
  --_color-button-2: rgb(82, 82, 82);
  --_color-overlay-black: rgb(0, 0, 0);

  --_gradient-deg: 135deg;
  --_gradient-deg-panel: 135deg;
  --_gradient-deg-sub-panel: 135deg;
  --_gradient-deg-button: 135deg;

  --_bg: linear-gradient(var(--_gradient-deg),
      var(--_color-bg-1),
      var(--_color-bg-2));

  --_panel-bg: linear-gradient(var(--_gradient-deg-panel),
      var(--_color-panel-1),
      var(--_color-panel-2));

  --_sub-panel-bg: linear-gradient(var(--_gradient-deg-sub-panel),
      var(--_color-sub-panel-1),
      var(--_color-sub-panel-2));

  --_button-bg: linear-gradient(var(--_gradient-deg-button),
      var(--_color-button-1),
      var(--_color-button-2));

  --_panel-border: 1px solid black;
  --_sub-panel-border: 1px solid black;
  --_button-border: 1px solid black;

  --_panel-radius: 10px;
  --_sub-panel-radius: 10px;
  --_button-radius: 10px;
  --_extreme-radius: 100em;

  --_color-on: rgb(184, 184, 184);
  --_color-off: rgb(82, 82, 82);
  --_color-pressed: rgb(175, 133, 112);
  --_color-swipe: rgb(193, 168, 94);

  --_opacity-low: 0.3;
}

.theme {
  display: flex;
  justify-content: center;
}

[data-theme="default"] {
  /* gradients */
  --bg: var(--_bg);
  --panel-bg: var(--_panel-bg);
  --sub-panel-bg: var(--_sub-panel-bg);
  --button-bg: var(--_button-bg);

  /* colors */
  --color-overlay: var(--_color-overlay-black);

  /* borders */
  --panel-border: var(--_panel-border);
  --sub-panel-border: var(--_sub-panel-border);
  --button-border: var(--_button-border);

  /* border radius */
  --panel-radius: var(--_panel-radius);
  --sub-panel-radius: var(--_sub-panel-radius);
  --button-radius: var(--_button-radius);
  --extreme-radius: var(--_extreme-radius);

  /* state driven color changes */
  --state-color-on: var(--_color-on);
  --state-color-off: var(--_color-off);
  --state-color-pressed: var(--_color-pressed);
  --state-color-swipe: var(--_color-swipe);

  /* opacity */
  --opacity-low: var(--_opacity-low);
}