  /* :root { */
  /* --f-border: 1px solid var(--_col-neutral-dark-1);
    --f-box-shadow: 0px 0px 10px var(--_col-neutral-dark-1);
    --f-button-radius: var(--_border-radius-xs);
    --f-radius: var(--_border-radius-xl);

    --f-deg: var(--_deg);

    --f-bg: linear-gradient(var(--f-deg),
        var(--_col-neutral-light-1),
        var(--_col-neutral-light-1));

    --f-button-bg: linear-gradient(var(--f-deg),
        var(--_col-neutral-dark-1),
        var(--_col-neutral-mid-1));

    --f-ui-bg: linear-gradient(var(--f-deg),
        var(--_col-neutral-dark-1),
        var(--_col-neutral-dark-2));

    --f-button-bg-on: var(--_col-neutral-light-1);

    --f-button-size: var(--_button-size-l); */
  /* --f-button-size-m: var(--_button-size-xl); */
  /* --f-button-size-l: var(--_button-size-l);
    --f-button-size-m: var(--_button-size-m);
    --f-button-size-s: var(--_button-size-s);
    --f-button-size-xs: var(--_button-size-xs); */

  /* --f-text-heading-col: var(--_text-col);
    --f-text-body-col: var(--_text-col);

    --f-font-body: var(--_font-inter);
    --f-font-heading: var(--_font-grotesk);

    --f-font-heading-size-xl: var(--_font-size-xl);
    --f-font-heading-size-l: var(--_font-size-l);
    --f-font-heading-size-m: var(--_font-size-m);
    --f-font-body-size-s: var(--_font-size-s);
    --f-font-body-size-xs: var(--_font-size-xs);

    --f-font-weight-xl: var(--_font-weight-xl);
    --f-font-weight-l: var(--_font-weight-l);
    --f-font-weight-m: var(--_font-weight-m);
    --f-font-weight-s: var(--_font-weight-s);
    --f-font-weight-xs: var(--_font-weight-xs); */
  /* } */