.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;

  border-radius: var(--panel-radius);
  background: var(--panel-bg);
  width: var(--slider-width);
  height: var(--slider-height);

  &.horizontal-slider {
    --slider-width: 90%;
    --slider-height: 15%;
  }

  &.vertical-slider {
    --slider-width: 12%;
    --slider-height: 90%;
  }
}

.track {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: var(--extreme-radius);
  background: var(--color-overlay);
  opacity: var(--opacity-low);

  width: var(--track-width, var(--slider-width));
  height: var(--track-height, var(--slider-height));
}

.slider-thumb {
  --thumb-width: 50px;
  --thumb-height: 50px;

  width: var(--thumb-width);
  height: var(--thumb-height);
  background: var(--button-bg);
  border-radius: var(--button-radius);
  border: var(--button-border);
  will-change: transform;
  position: absolute;
}