.panel {
  position: absolute;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  pointer-events: none;
  max-width: var(--viewport-max);
  padding: var(--padding);
  border-radius: var(--border-radius);
  backdrop-filter: var(--blur);
  border: var(--border);
  opacity: 1;
  box-shadow: var(--box-shadow) var(--box-shadow-col);

  &::before {
    content: '';
    inset: 0;
    position: absolute;
    opacity: 50%;
    background: var(--panel-col);
    z-index: -1;
  }
}