.svg {
  transform: var(--flip-x, scaleX(1)) var(--flip-y, scaleY(1)) var(--rotate, rotate(0deg));
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  backface-visibility: hidden;
  width: var(--svg-width, 40px);
  height: var(--svg-height, 40px);

  &[data-mode="default"] path {
    fill: var(--svg-default, var(--svg-theme-default, currentColor));
  }

  &[data-mode="on"] path {
    fill: var(--svg-on var(--svg-theme-on, currentColor));
  }

  &[data-mode="off"] path {
    fill: var(--svg-off, var(--svg-theme-off, currentColor));
  }

  &[data-mode="disabled"] path {
    fill: var(--svg-disabled, var(--svg-theme-disabled, currentColor));
  }
}