.flipY {
  --flip-y: scaleY(-1);
}

.flipX {
  --flip-x: scaleX(-1);
}

.rotate90 {
  --rotate: rotate(90deg)
}

.rotate180 {
  --rotate: rotate(180deg)
}

.rotate270 {
  --rotate: rotate(270deg)
}

.svg {
  transform: var(--flip-x, scaleX(1)) var(--flip-y, scaleY(1)) var(--rotate, rotate(0deg));
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  backface-visibility: hidden;
  width: var(--svg-width, 40px);
  height: var(--svg-height, 40px);

  &[data-mode="default"] path {
    fill: var(--svg-current-color, var(--svg-default, currentColor));
  }

  &[data-mode="on"] path {
    fill: var(--svg-current-color, var(--svg-dark, currentColor));
  }

  &[data-mode="off"] path {
    fill: var(--svg-current-color, var(--svg-bright, currentColor));
  }

  &[data-mode="disabled"] path {
    fill: var(--svg-current-color, var(--svg-disabled, currentColor));
  }
}