/* .vars {
  --final-surface-bg:
    var(--o-surface-bg,
      var(--s-surface-bg,
        var(--m-surface-bg,
          var(--t-surface-bg,
            var(--p-surface-bg,
              var(--f-surface-bg))))));

  --final-surface-position:
    var(--o-surface-position,
      var(--p-surface-position,
        var(--f-surface-position)));

  --final-surface-display:
    var(--o-surface-display,
      var(--p-surface-display,
        var(--f-surface-display)));

  --final-surface-direction:
    var(--o-surface-direction,
      var(--p-surface-direction,
        var(--f-surface-direction)));

  --final-surface-justify:
    var(--o-surface-justify,
      var(--p-surface-justify,
        var(--f-surface-justify)));

  --final-surface-align:
    var(--o-surface-align,
      var(--p-surface-align,
        var(--f-surface-align)));

  --final-surface-overflow:
    var(--o-surface-overflow,
      var(--p-surface-overflow,
        var(--f-surface-overflow)));

  --final-surface-width:
    var(--o-surface-width,
      var(--p-surface-width,
        var(--f-surface-width)));

  --final-surface-height:
    var(--o-surface-height,
      var(--p-surface-height,
        var(--f-surface-height)));

  --final-surface-gap:
    var(--o-surface-gap,
      var(--p-surface-gap,
        var(--f-surface-gap)));

  --final-surface-margin:
    var(--o-surface-margin,
      var(--p-surface-margin,
        var(--f-surface-margin)));

  --final-surface-padding:
    var(--o-surface-padding,
      var(--p-surface-padding,
        var(--f-surface-padding)));

  --final-surface-border:
    var(--o-surface-border,
      var(--p-surface-border,
        var(--f-surface-border)));

  --final-surface-radius:
    var(--o-surface-radius,
      var(--p-surface-radius,
        var(--f-surface-radius)));

  --final-surface-shadow:
    var(--o-surface-shadow,
      var(--p-surface-shadow,
        var(--f-surface-shadow)));

  --final-surface-blur:
    var(--o-surface-blur,
      var(--p-surface-blur,
        var(--f-surface-blur)));

  --final-surface-before-content:
    var(--o-surface-before-content,
      var(--p-surface-before-content,
        var(--f-surface-before-content)));

  --final-surface-opacity:
    var(--o-surface-opacity,
      var(--p-surface-opacity,
        var(--f-surface-opacity)));
} */

/* --o-: var(--s-, var(--m-, var(--p-, var(--t-, var(--f-))))); */