.container {
  position: absolute;
  inset: 0;
  min-height: 100%;
}

.scroll {
  position: relative;
  min-height: 100%;
  min-width: 100%;
  opacity: 90%;
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(255, 255, 255));

}


.test-frame {
  height: 2000px;
  background: linear-gradient(to bottom, hotPink, black, royalBlue, black, hotPink, black, royalBlue)
}

.knob {
  position: absolute;
  background: yellowgreen;
  width: 100%;
  --knob-height: 200px;
  height: var(--knob-height);
  top: calc(-1*var(--knob-height));
  pointer-events: auto;
}