.vars {

  /* --final-button-position:
    var(--o-button-position,
      var(--p-button-position,
        var(--f-button-position)));

  --final-button-display:
    var(--o-button-display,
      var(--p-button-display,
        var(--f-button-display)));

  --final-button-align:
    var(--o-button-align,
      var(--p-button-align,
        var(--f-button-align)));

  --final-button-justify:
    var(--o-button-justify,
      var(--p-button-justify,
        var(--f-button-justify)));

  --final-button-opacity:
    var(--o-button-opacity,
      var(--s-button-opacity,
        var(--p-button-opacity,
          var(--f-button-opacity))));

  --final-button-width:
    var(--o-button-width,
      var(--p-button-width,
        var(--f-button-width)));

  --final-button-height:
    var(--o-button-height,
      var(--p-button-height,
        var(--f-button-height))); */

  /* ------------------------------- */
  /* ----------styling --------------*/
  /* ------------------------------- */

  /* --final-button-bg:
    var(--o-button-bg,
      var(--p-button-bg,
        var(--t-button-bg,
          var(--f-button-bg))));


  --final-button-radius:
    var(--o-button-radius,
      var(--p-button-radius,
        var(--f-button-radius)));

  --final-button-border:
    var(--o-button-border,
      var(--p-button-border,
        var(--f-button-border)));

  --final-button-filter:
    var(--o-button-filter,
      var(--s-button-filter,
        var(--p-button-filter,
          var(--f-button-filter))));

  --final-button-shadow:
    var(--o-button-shadow,
      var(--s-button-shadow,
        var(--p-button-shadow,
          var(--f-button-shadow)))); */

  /* ------------------------------- */
  /* ----------- state --------------*/
  /* ------------------------------- */

  /* --final-button-state-pressed-scale:
    var(--o-button-state-pressed-scale,
      var(--p-button-state-pressed-scale,
        var(--f-button-state-pressed-scale)));

  --final-button-state-released-scale:
    var(--o-button-state-released-scale,
      var(--p-button-state-released-scale,
        var(--f-button-state-released-scale)));

  --final-button-state-cancelled-scale:
    var(--o-button-state-cancelled-scale,
      var(--p-button-state-cancelled-scale,
        var(--f-button-state-cancelled-scale)));

  --final-button-state-pressed-shadow:
    var(--o-button-state-pressed-shadow,
      var(--p-button-state-pressed-shadow,
        var(--f-button-state-pressed-shadow)));

  --final-button-state-pressed-filter:
    var(--o-button-state-pressed-filter,
      var(--p-button-state-pressed-filter,
        var(--f-button-state-pressed-filter)));

  --final-button-state-cancelled-opacity:
    var(--o-button-state-cancelled-opacity,
      var(--p-button-state-cancelled-opacity,
        var(--f-button-state-cancelled-opacity))); */

  /* --final-button-:
    var(--o-button-,
      var(--p-button-,
        var(--f-button-))); */

}