/* 
file://wsl.localhost/Ubuntu/home/david/repos/ad-web-launcher/web-react/src/styleTokens/tokens/button/button.jsonc
file://wsl.localhost/Ubuntu/home/david/repos/ad-web-launcher/web-react/src/styleTokens/tokens/button/visual.jsonc
*/
.button {

  user-select: none;
  /* -webkit-tap-highlight-color: transparent; */

  position: var(--final-button-position);
  display: var(--final-button-display);
  align-items: var(--final-button-align);
  justify-content: var(--final-button-justify);
  pointer-events: none;

  opacity: var(--final-button-opacity);

  width: var(--final-button-width);
  height: var(--final-button-height);

  transition: opacity 140ms ease;
}

.visual {
  width: 100%;
  height: 100%;

  background: var(--final-visual-bg);
  border-radius: var(--final-visual-radius);

  border: var(--final-visual-border);
  filter: var(--final-visual-filter);
  box-shadow: var(--final-visual-shadow);

  transition:
    filter 100ms cubic-bezier(0.2, 0.8, 0.2, 1),
    transform 90ms cubic-bezier(0.2, 0.8, 0.2, 1),
    box-shadow 140ms cubic-bezier(0.2, 0.8, 0.2, 1);
}

.content {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Presets */

.close {
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.614));
  --p-button-position: absolute;
  right: 15px;
  top: 15px;

  --t-visual-bg: none;
  --f-visual-bg: none;

  --p-button-width: 30px;
  --p-button-height: 30px;
  --p-visual-border: none;

}

.close[data-state='pressed'] {
  box-shadow: none;
}



/* state */
[data-state="pressed"] .visual {
  transform: var(--final-visual-state-pressed-scale);
  /* box-shadow:
    0 2px 6px rgba(0, 0, 0, 0.25),
    inset 0 0 6px rgba(0, 0, 0, 0.25); */
  --s-visual-shadow: var(--final-visual-state-pressed-shadow);
  --s-visual-filter: var(--final-visual-state-pressed-filter);
  --s-visual-border: var(--final-visual-state-pressed-border);
}

[data-state='released'] .visual {
  transform: var(--final-visual-state-released-scale);
}

[data-state='canceled'] .visual {
  transform: var(--final-visual-state-canceled-scale);
}

/* .button[data-state='canceled'] {
  --s-button-opacity: var(--final-button-state-canceled-opacity);
} */

/* mode */

[data-mode="on"] .visual {
  --m-visual-bg: var(--final-visual-mode-on-bg);
}

[data-mode="off"] .visual {
  --m-visual-bg: var(--final-visual-mode-off-bg);
}

.button[data-mode="disabled"] {
  --m-button-opacity: var(--final-button-mode-disabled-opacity);
}

/* interactive */

[data-interactive='true'] .visual {
  --i-button-opacity: unset;
}

.button[data-interactive='false'] {
  --i-button-opacity: var(--final-button-interactive-false-opacity);
}