.shell {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #323232;
  overflow: hidden;
}

.frame {
  border-radius: 28px;
  box-shadow:
    0 18px 48px rgb(116, 116, 116),
    0 0 0 10px rgb(0, 0, 0);
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.loading {
  position: absolute;
  inset: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  max-width: 600px;
  margin: 0 auto;
  transition: opacity 300ms ease-out;
}

.fade {
  opacity: 0;
}

.sceneconfig {
  position: absolute;
  width: var(--scene-size);
  height: var(--scene-size);

  p {
    color: white;
  }
}