.drag-grid {
  position: absolute;
  inset: 0;
  /* fill parent */
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.grid-line {
  position: absolute;
  background: rgba(0, 0, 0, 0.487);
}

.grid-line.vertical {
  width: 1px;
  height: 100%;
  transform: translateX(-0.5px);
}

.grid-line.horizontal {
  height: 1px;
  width: 100%;
  transform: translateY(-0.5px);
}