/* 
file://wsl.localhost/Ubuntu//home/david/repos/ad-web-launcher/web-react/src/styleTokens/tokens/surface.jsonc
*/
.surface {
  gap: var(--final-surface-gap);
  margin: var(--final-surface-margin);
  padding: var(--final-surface-padding);
  border: var(--final-surface-border);
  border-radius: var(--final-surface-radius);
  box-shadow: var(--final-surface-shadow);
  backdrop-filter: var(--final-surface-blur);
}

.bg {
  --p-surface-overflow: hidden;
  --p-surface-radius: 10px;
  --p-surface-opacity: 50%;
  --p-surface-blur: blur(15px);
  --p-surface-before-content: "";

  &::after {
    content: var(--final-surface-before-content);
    /* content: ""; */
    inset: 0;
    position: var(--final-surface-position);
    opacity: var(--final-surface-opacity, 50%);
    background: var(--final-surface-bg);
    z-index: -1;
    pointer-events: none;
  }
}

.frame {
  --p-surface-display: flex;
  --p-surface-direction: column;
  --p-surface-position: absolute;
  --p-surface-margin: 1rem 0 0 0;
  --p-surface-padding: 1rem;
  --p-surface-gap: 1rem;
}

.row {
  --p-surface-display: flex;
  --p-surface-align: center;
  --p-surface-gap: 5px;
}


.emptyRow {
  --p-surface-direction: row;
  --p-surface-bg: none;
  --p-surface-shadow: none;
  --p-surface-position: relative;
}