.surface {

  --f-surface-position: relative;
  --f-surface-display: block;

  --f-surface-direction: initial;
  --f-surface-justify: initial;
  --f-surface-align: initial;

  --f-surface-overflow: visible;

  --f-surface-width: auto;
  --f-surface-height: auto;

  --f-surface-gap: 0;
  --f-surface-margin: 0;
  --f-surface-padding: 0px;
  --f-surface-border: none;
  --f-surface-radius: 0;
  --f-surface-shadow: none;
  --f-surface-blur: none;

  --f-surface-before-content: none;
  --f-surface-opacity: 1;

  --p-surface-position: var(--f-surface-position);
  --p-surface-display: var(--f-surface-display);

  --p-surface-direction: var(--f-surface-direction);
  --p-surface-justify: var(--f-surface-justify);
  --p-surface-align: var(--f-surface-align);

  --p-surface-overflow: var(--f-surface-overflow);

  --p-surface-width: var(--f-surface-width);
  --p-surface-height: var(--f-surface-height);

  --p-surface-gap: var(--f-surface-gap);
  --p-surface-margin: var(--f-surface-margin);
  --p-surface-padding: var(--f-surface-padding);
  --p-surface-border: var(--f-surface-border);
  --p-surface-radius: var(--f-surface-radius);
  --p-surface-shadow: var(--f-surface-shadow);
  --p-surface-blur: var(--f-surface-blur);

  --p-surface-before-content: var(--f-surface-before-content);
  --p-surface-opacity: var(--f-surface-opacity);

  position: var(--final-surface-position);
  display: var(--final-surface-display);

  flex-direction: var(--final-surface-direction);
  justify-content: var(--final-surface-justify);
  align-items: var(--final-surface-align);

  overflow: var(--final-surface-overflow);

  min-width: var(--final-surface-width);
  min-height: var(--final-surface-height);

  gap: var(--final-surface-gap);
  margin: var(--final-surface-margin);
  padding: var(--final-surface-padding);
  border: var(--final-surface-border);
  border-radius: var(--final-surface-radius);
  box-shadow: var(--final-surface-shadow);
  backdrop-filter: var(--final-surface-blur);
}

.bg {
  --p-surface-overflow: hidden;
  --p-surface-border-radius: 10px;
  --p-surface-opacity: 50%;
  --p-surface-blur: blur(15px);
  --p-surface-before-content: "";

  &::before {
    content: var(--final-surface-before-content, "");
    inset: 0;
    position: absolute;
    opacity: var(--final-surface-opacity, 50%);
    background: var(--final-surface-bg);
    z-index: -1;
    pointer-events: none;
  }
}

.frame {
  --p-surface-display: flex;
  --p-surface-direction: column;
  --p-surface-position: absolute;
  --p-surface-margin: 1rem 0 0 0;
  --p-surface-padding: 1rem;
  --p-surface-gap: 1rem;
}

.row {
  --p-surface-display: flex;
  --p-surface-align: center;
  --p-surface-gap: 5px;
}


.empty-row {
  --p-surface-direction: row;
  --p-surface-bg: none;
  --p-surface-shadow: none;
  --p-surface-position: relative;
}