.relative-max-size {
  width: 100%;
  height: 100%;
  position: relative;
}

.non-interactive {
  pointer-events: none;
}

.absolute {
  position: absolute;
}

/* ── Button primitive ── */
.non-interactive-default {
  position: relative;
  pointer-events: none;
}

.interactive-default {
  position: relative;
  user-select: none;
  pointer-events: auto;
}

.non-interactive-default,
.interactive-default {
  display: inline-flex;
  width: fit-content;
  height: fit-content;
}