.settings-panel {
  position: absolute;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 1em;
  width: 90%;
  height: 60%;
  border-radius: 20px;
  margin-top: 22px;
  padding: 1em;
  overflow: hidden;
  pointer-events: none;
  backdrop-filter: blur(5px);

  &::before {
    content: '';
    inset: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    opacity: 70%;
    background: linear-gradient(135deg, var(--gradient-debug-frame-1), var(--gradient-debug-frame-2));
    box-shadow: 0px 0px 5px 1px rgb(172, 172, 172);
  }
}

.settings-row {
  position: relative;
  display: flex;
  /* align-items: space-around; */
  justify-content: center;
  min-width: 7em;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.505);
  border-radius: 20px;
  width: 100%;

}

.settings-slider-frame {
  z-index: 0;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;

  label {
    font-size: 1.2em;
  }
}

/* TODO probably need to define overrides... so i remember them...
example

[data-state="swiping"] .slider-thumb.specific-class-name {
  --data-state-col
}
*/

.settings-item {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
  pointer-events: none;

  label {
    max-width: 8ch;
    color: var(--label-gray);
    /* font-size: 2em; */
    font-weight: 400;
    /* text-shadow: 0 0 8px rgb(0, 0, 0); */

  }
}