.bottom {
  --label-height: var(--button-height, var(--fallback-button-size));
  top: var(--label-height);
}

.top {
  --label-height: var(--button-height, var(--fallback-button-size));
  bottom: var(--label-height);
}

.left {
  --label-width: var(--button-width, var(--fallback-button-size));
  right: var(--label-width);
}

.right {
  --label-width: var(--button-width, var(--fallback-button-size));
  left: var(--label-width);
}

.center {
  --label-width: unset;
  --label-height: unset;
  --label-position: unset;
}

.labelwrapper {
  position: var(--label-position, absolute);
}

.label {
  text-align: center;
}

.sexy {
  --preset-label-col: hotPink;
}