.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;

  background: var(--final-slider-bg);
  border-radius: var(--final-slider-radius);

  /* width: 100%; */
  /* height: 100%; */
  min-height: var(--final-slider-thumb-cross-size);
  min-width: var(--final-slider-thumb-cross-size);

  &[data-axis="horizontal"] {
    width: var(--final-slider-main-size);
    height: var(--final-slider-cross-size);
    /* --final-slider-width: 90%;
    --final-slider-height: 40px; */
  }

  &[data-axis="vertical"] {
    width: var(--final-slider-cross-size);
    height: var(--final-slider-main-size);
    /* --final-slider-width: 45px;
    --final-slider-height: 90%; */
  }
}


.track {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: var(--final-slider-track-radius);
  background: var(--final-slider-track-bg);
  opacity: var(--final-slider-track-opacity);

  &[data-axis="horizontal"] {
    width: var(--final-slider-track-main-size);
    height: var(--final-slider-track-cross-size);
  }

  &[data-axis="vertical"] {
    width: var(--final-slider-track-cross-size);
    height: var(--final-slider-track-main-size);
  }
}



.thumb {
  background: var(--final-slider-thumb-bg);
  border-radius: var(--final-slider-thumb-radius);
  border: var(--final-slider-thumb-border);
  will-change: transform;
  position: absolute;

  &[data-axis="horizontal"] {
    width: var(--final-slider-thumb-main-size);
    height: var(--final-slider-thumb-cross-size);
  }

  &[data-axis="vertical"] {
    width: var(--final-slider-thumb-cross-size);
    height: var(--final-slider-thumb-main-size);
  }
}

[data-state="swiping"] .thumb {
  --s-slider-thumb-bg: var(--final-slider-thumb-state-swiping-bg);
}

[data-state="pressed"] .thumb {
  --s-slider-thumb-bg: var(--final-slider-thumb-state-pressed-bg);
}

[data-state="committed"] .thumb {
  --s-slider-thumb-bg: var(--final-slider-thumb-state-committed-bg);
}