.isInFlow {
  --drag-position: relative;
}

.notInFlow {
  --button-position: absolute;
}

[data-mode='on'] {
  --button-col: var(--debug-button-on);
}

[data-mode='off'] {
  --button-col: var(--debug-button-off);
}

[data-interactive='true'] {
  opacity: 1;
}

[data-interactive='false'] {
  opacity: 0.4;
  pointer-events: none;
  --svg-default: rgb(0, 0, 0);
}