.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;

  border-radius: var(--panel-radius);
  background: var(--panel-col);
  width: var(--slider-width);
  height: var(--slider-height);

  &[data-axis="horizontal"] {
    --slider-width: 90%;
    --slider-height: 40px;
  }

  &[data-axis="vertical"] {
    --slider-width: 45px;
    --slider-height: 90%;
  }
}


.track {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: var(--track-radius, var(--extreme-radius));
  background: var(--rack-col, var(--color-overlay));
  opacity: var(--track-opacity, var(--opacity-low));

  &[data-axis="horizontal"] {
    width: var(--track-width, var(--slider-width));
    height: var(--track-height, 15%);
  }

  &[data-axis="horizontal"] {
    width: var(--track-width, 12%);
    height: var(--track-height, var(--slider-height));
  }
}



.thumb {
  --thumb-width: 50px;
  --thumb-height: 50px;

  width: var(--thumb-width);
  height: var(--thumb-height);
  background: var(--thumb-col, var(--button-col));
  border-radius: var(--thumb-radius, var(--button-radius));
  border: var(--thumb-border, var(--button-border));
  will-change: transform;
  position: absolute;
}

[data-state="swiping"] .thumb {
  background: rgb(0, 255, 242);
}

[data-state="pressed"] .thumb {
  background: rgb(213, 127, 214);
}

[data-state="commited"] .thumb {
  background: rgb(213, 127, 214);
}