.grid {
  position: absolute;
  inset: 0;
  /* fill parent */
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.line {
  position: absolute;
  background: oklch(0% 0 0 / 0.486);
}

.vertical {
  width: 1px;
  height: 100%;
  transform: translateX(-0.5px);
}

.horizontal {
  height: 1px;
  width: 100%;
  transform: translateY(-0.5px);
}