.button {
  --button-bg: initial;
  --button-col: initial;
  --button-opacity: initial;
  --svg-default: initial;
}


.button[data-mode='on'] {
  --button-bg: var(--theme-button-bg-on, var(--fallback-button-bg-on));
}

.button[data-mode='off'] {
  --m-button-col: var(--debug-button-off);
}

.button[data-interactive='true'] {
  --o-button-opacity: initial;
}

.button[data-interactive='false'] {
  --button-opacity: 0.4;
  pointer-events: none;
  --svg-default: rgb(0, 0, 0);
}

.close {
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.614));
  --button-position: absolute;
  right: 15px;

  --theme-button-bg: none;
  --fallback-button-bg: none;

  --button-width: 30px;
  --button-height: 30px;
  --button-border: none;

  &[data-state='pressed'] {
    box-shadow: none;
  }
}